[Unit]
Description=BelNET: Anonymous Network layer thingydoo, router (%i)
After=network-online.target
Wants=beldex-node@%i.service
After=beldex-node@%i.service
PartOf=belnet-routers.target
AssertFileNotEmpty=/var/lib/belnet/router-%i/bootstrap.signed

[Service]
User=_belnet
Type=simple
SyslogIdentifier=belnet-router-%i
WorkingDirectory=/var/lib/belnet/router-%i
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/belnet -r /var/lib/belnet/router-%i/belnet.ini
Environment=BELNET_NETID=belnet
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
